li {
	margin-bottom:0.2em;
}

BODY {	margin-left : 2em;
	margin-right : 2em;
	margin-bottom: 2em;
	margin-top: 2em;
	font-family: "Trebuchet MS",sans-serif,arial,helvetica;
	color: black;
	background: white;
}

A:link	{ 
	color:#009999; 
}
A:hover {
	background: #ccffff;
} 
A:visited	{ 
	color:#660099;  
}

H1, H2, H3, H4 {
   font-family: "Trebuchet MS",arial,helvetica,sans-serif;
}

H1 {
	font-size: 300%;
	font-weight: bold;
	color: #009999; 
}
H1 A:link {
	text-decoration: none;
	color: #009999; 
}
H1 A:visited {
	text-decoration: none;
	color: #009999; 
}

H2 {
	font-size: 125%;
	font-weight: bold;
	color: #ffffff; 
	background: #009999;
	padding-bottom: 0.5%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.5%;
	border: 0.1px solid none; 
}

H3 {
	font-size: 120%;
	font-weight: bold;
	color: #009999; 
	margin-left: 0.5em;
	margin-bottom: 0.2em;
}

H4{
	font-size: 100%;
	font-weight: bold;
	font-style: italic;
	color: #009999; 
}

DL DT {
	font-weight: bold;
}

DL {
	margin-bottom: 0.2em;
}

TT, PRE {
	font-family: "Lucida Console", "Courier New", "Courier", "Andale Mono";
}

P	{
	margin-left: 1em;
	margin-right: 1em;
	}

DD	{
	margin-left: 3em;
	margin-right: 1em;
	}

DT 	{
	margin-left: 1em;
}

P.highlight {
	background: #FFFF99;
	padding: 0.6em; 
	border:none; 
	font-weight: bold;
        margin-left: 10%;
	margin-right: 10%;
} 

P.quoted {
         margin-top="-1em";
         text-align="right";
}

P.sidebar {
	font-size: 80%
}

P.navbar {
	background: #ffffff;
	color:#000000; 
	font-weight: bold;
	padding: 0.2em;
	text-align: center;
	font-size: 100%;
}
P.navbar A:link {
	text-decoration: none;
}
P.navbar A:visited {
	text-decoration: none;
}
P.navbar A:hover {
	background: #660099;
	color:#FFFFFF; 
	text-decoration: none;
} 