#simplemodal-overlay { background-color: #000000; }
#simplemodal-container { background-color: #333333; border: 8px solid #444444; padding: 12px; }
#simplemodal-container a.modalCloseImg { background:url(images/x.png) no-repeat; width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer; }